body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.timer-window{
    display: grid;
    justify-content: center;
    background-color: beige;
    align-items: center;
    height: 50vh;
    width: 20vh;
    min-width: 300px;
    padding: 2rem;
    outline-style: dotted;
    border-style: ridge;
    border-radius: 1rem;
    
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'protectedMinute timer lastMinute'
    'buttons buttons buttons';
}
.timer{
    display: grid;

    
    font-size: 48px;
}
#timer{
    display: grid;
    grid-area: timer;
    justify-content: center;
    background-color: beige;
    align-items: center;
}
#protectedMinute{
    display: grid;
    
    grid-area: protectedMinute;
    
    font-size: 32px;
    justify-content: center;
    background-color: beige;
    align-items: center;
}
#lastMinute{display: grid;
    grid-area: lastMinute;
    font-size: 32px;
    justify-content: center;
    background-color: beige;
    align-items: center;
}
.buttons{
    display: grid;
    grid-area: buttons;
}